<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container mx-auto ">
        <div class="hero bg-base-200 h-[30vh]">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">All about me</h1>

                </div>
            </div>
        </div>
        <div class="navbar bg-base-100">
            <div class="flex-1">
                <a class="btn btn-ghost normal-case text-xl" href="/">Climate solutions</a>
            </div>

            <div class="navbar-center flex">
                <ul class="menu menu-horizontal px-1">
                    <li><a href="/about" class="active">About</a></li>
                </ul>
            </div>
        </div>

        <div class="container mx-auto">
            <div class=" bg-base-200 min-h-auto p-8">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">

                    <img src="public\css\images\soondubu.jpg"
                        class="w-full max-w-sm mx-auto rounded-lg shadow-2xl" />

                    <div>
                        <h1 class="text-4xl font-bold">All about me</h1>
                        <p class="py-6">
                            I am a Korean-Canadian living in Vaughan, Ontario. I am currently
                            a CPA student attending Seneca Newnham. My goal is to
                            get enough GPA to get into co-op, and use that experience for the
                            job market.
                        </p>
                        <h1>Hobbies</h1>
                        <p>My main hobby is to just surf the internet on my laptop and play
                            video games on either the wii or the laptop. My lesser hobbies
                            include reading books, cooking, and riding a bike to explore new places.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>

</html>